header{
    width: 100%;
    background: rgb(56, 54, 54);
    height: 200px;
}
header nav{
    display: inline-block;
   float: right;
   margin: 3%;
}
header a{
    color: whitesmoke;
    font-size: 20px;
}
header a:hover{
    color: turquoise;
}
.big{
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
}
.triple{
    width: 50%;
    margin: 0 auto;
    /* margin-top: 2%; */
    height: 200px;
    
}
.petite, .petite2, .petite3, .petite4{
    width: 23%;
    /* margin: 0 auto; */
    /* margin-top: 2%; */
    /* background: black; */
    float: left;
    padding: 1%;
}
.petite, .petite2, .petite3, .petite4 p{
    /* width: 25%;
    /* margin: 0 auto; */
    /* margin-top: 2%; */
    /* background: black; */
    /* float: left; */ 
    text-align: left;

}
/* .clear{
    clear: both;
} */
.petiteimage{
    float: left;
    margin: 2%;
}
.triple a {
    float: right;
    color: orange;
}
.triple2{
    width: 50%;
    margin: 50px auto;
    height: 230px;;
}
.triple2 a{
    color: orange; 
    margin-left: 75%;
}
.triple2 div{
    width: 33.3%;
    float: left; 
    height: 210px;
}

.triple3{
    width: 50%;
    margin: 0px auto;
    height: 700px;
}
.momo{
    /* background: blue; */
    width: 60%;
    height: 190px;
}
.momo2{
    /* background: indianred; */
    width: 60%;
    height: 190px;
}
.tkt{
    width: 40%;
    height: 700px;
    float: right;
}
.momo img{
    float: left;
    margin-top: 20px;
    margin: 2%;
}
.momo h1{
    font-size: 20px;
}
.dessen{
    margin-top: 20px;
}
.momo2 img{
    float: left;
    margin-top: 20px;
    margin: 2%;
}
.tkt h1{
    margin-left: 10%;
}
.tkt ul{
    color: orange;
    margin-left: 15%;
}
.tkt p{
    color: black;
}
